# Ignore artifacts:
dist
node_modules
coverage
.vitest
__snapshots__

# Ignore all HTML files:
*.html

# Ignore configuration files:
*.config.*
*.rc

# Ignore package manager lockfiles:
package-lock.json
yarn.lock
pnpm-lock.yaml